*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

##################
# .bundle

.bundle
.bundle/
.bundle/config

############
# ignore sqlite dbs (e.g. pluto.db etc.)

*.db
